:root{
  --blu: #0084FD;
  --azzurro: #B5DDFF;
  --viola: #9792E4;
  --footer-bg: #333;
  --font-grigio: #5A6E7F;
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.debug{
  border: 1px solid black;
}

header .menu{
  height: 80px;
  background-color: var(--blu);
  color: white;
}

body{
  font-family: 'PT Sans', sans-serif;
}

img{
  width: 100%;
}

h2{
  /* text-align: center; */
  font-size: 2.3rem;
  padding-top: 80px;
}

h3{
  text-align: center;
}

h4{
  /* text-align: center; */
}

p{
  line-height: 1.6;
}

/* TODO: Utilities margin/padding */
/* MARGIN/PADDING Utilities */


.no-border-bottom{
  margin-bottom: 0;
}

.margin-sm{
  margin: 0 30px;
}

.margin-t{
  margin-top: 40px;
}

.margin-b{
  margin-bottom: 40px;
}

/* /MARGIN/PADDING Utilities */

/* Utility */
.d-flex{
  display: flex;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content: space-around;
}

.center{
  justify-content: center;
}

.al-center{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.column{
  flex-direction: column;
}
/* /Utility */

/* container */
.container{
  width: 99%;
  /* max-width: 1100px; */
  margin: 0 auto;
  margin-top: 35px;
}

.card-xs,
.card-sm,
.card-md,
.card-l,
.card-lg,
.card-xl{
  width: 100%;
  /* height: 100%; */
  padding: 20px 20px 0 20px;
  /* margin: 20px 20px 0 20px; */
}

/* .card-sm{
  min-height: 100%;
} */
/* debug */
/* .card-xs{
  height: 231px;
}

.card-sm{
  height: 360px;
}

.card-md{
  height: 400px;
}

.card-l{
  height: 500px;
}

.card-lg{
  height: 600px;
}

.card-xl{
  height: 900px;
} 

.card-lg{

}
*/

/* BTN */
.btn-app{
  width: 210px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 20px;
  background-color: var(--blu);
  color: white;
  padding: 5px 20px;
}


/* /BTN */
.row{
  
}

.col{
  margin-bottom: 25px;
  width: 100%;
  padding: 10px 10px 0 10px;
}

/* /container */

/* Menu */
header .menu{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* font-size: ; */
}

header .container{
  margin-top: 15px;
}

header .logo{
  font-size: 2.5rem;
}

header .list-nav{
  font-size: 1.8rem;
}

.list-nav .menu-desktop{
  display: none;
}

nav ul{
  list-style: none;
}

nav ul li{
  list-style: none;
  font-size: 1.2rem;
  margin: 0 15px;
}

nav ul li a{
  text-decoration: none;
}

header .menu .col{
  margin-top: 0;
}
/* /Menu */



/* DEMO */

.demo .container{
  margin-top: 130px;
}

.demo .row .col .card-lg,
.demo .row .col .card-sm{
  background-color: var(--azzurro);
  border-radius: 20px;
  
}

.demo .col h4{
  color: var(--blu);
  font-size: 1.8rem;
}
.demo .col p{
  color: var(--font-grigio);
  font-weight: 700;
  
}

.demo .col .card-sm i{
  margin-top: 10px;
  color: var(--blu);
  font-size: 4rem;
}

.demo .col .card-sm p{
  /* padding-bottom: 220px; */
}

.demo .col .card-lg img{
  margin-top: 40px;
  width: 70%;
}

.demo .col .card-sm{
  text-align: center;
}
/* /DEMO */

/* STRATEGIC */
.strategic{
  background-color: var(--viola);
  color: white;
  padding: 100px 0 200px;
}

.strategic .card-lg.planning{
  
}
.strategic .card-lg.planning h2{
  color: white;
  margin: 70px 0 ;
}

.strategic .card-lg.developement{
  background-color: white;
  padding: 10px 0;
  border-radius: 50px;
  color: black;
}



.strategic .card-lg.developement h3{
  
}
.strategic .card-lg.developement p{
  text-align: center;
  margin-top: 25px;
  font-style: italic;
}

.strategic .developement .arrow{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 14px;
  text-align: center;
  margin: 0 auto 40px;
  background-color: var(--viola);

}
/* /STRATEGIC */

/* TESTIMONIALS */
.testimonials .testo-centrato h2,
.testimonials .testo-centrato p{
  text-align: center;
  padding-top: 0;
  margin: 0 40px 40px;
}

.testimonials .testo-centrato h2{
  color: var(--viola);
}

.testimonials .testo-centrato p{
  font-size: 1.2rem;
}
/* .testimonials .card-full{
  background-color: var(--viola);
  color: white;
  width: 300px;
  height: 500px;
} */

/* card testimonial */
.testimonials .row .row{
  background-color: var(--viola);
  border-radius: 50px;
}

.foto-profile,
.foto-description{
  width: 100%;
  text-align: center;
  color: white;
}

.foto-profile{
  margin: 20px auto;
  
}

.foto-profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.foto-description{
  margin: 0 auto;
}

.foto-description h4{
  margin: 10px 0;
}

/* TODO: img border-radious */
.testimonials .card-full img{

}

/* /TESTIMONIALS */

/* BENEFITS */
.benefits{
  background-color: var(--viola);
  color: white;
}

.card-benefits{
  background-color: white;
}

/* TODO: colori speciali per titoli e scritte */
/* /BENEFITS */

/* ABOUT US*/
/* FIXME: margini */
.about{

}

.about .card-lg h2,
.about .card-lg p{
  margin-bottom: 70px;
}

/* FIXME:margin-bottom diverso da p */
.about h2{
  color: var(--viola);
}

.about .card-md{
  background-color: red; /* debug */
}

/* /ABOUT US*/

/* FIXME: Fix impaginazione  */
/* GET STARTED */
.started{
  background-color: var(--viola);
  color: white;
}
/* /GET STARTED */

/* FOOTER */
footer{
  background-color: var(--footer-bg);
  color: white;
  text-align: center;
}


footer .txt-center p{
  margin-bottom: 70px;
}

footer .container{
  margin-top: 0;
}
/* /FOOTER */

/*************************************************  
                  Responsive
*************************************************/

@media screen and (min-width: 768px){
  .container{
    max-width: 720px;
  }
/* DEMO */
  .demo .row{
  flex-direction: row;
  }

  /* ALLINEAMENTO PRIME DUE CARD */
  .demo .row .col:first-child{
    width: calc(100%/1.5);
  }

  .demo .col .card-sm{
    aspect-ratio: 1/2;
  }
  .demo .col:nth-child(2) .card-sm{
    aspect-ratio: 1/3;
  }
  /* /ALLINEAMENTO PRIME DUE CARD */
  
  
  .demo .row .col{
    width: calc(100% / 3);
  }
/* /DEMO */

/* STRATEGIC + TESTIMONIALS*/
  .strategic .row .col,
  .testimonials .row .col{
  width: 100%;
  }

  .testimonials .row .row .foto-profile{
    width: 20%;
  }
  .testimonials .row .row .foto-description{
    width: 80%;
    padding: 0 90px;
  }

/* /STRATEGIC + /TESTIMONIALS*/
}


@media screen and (min-width: 1199px){
  .container{
    max-width: 1160px;
  }
  /* menu header */
  .menu .row .list-nav .hamburger{
    display: none;
  }

  .menu .row .list-nav .menu-desktop{
    display: block;
  }

  /* DEMO */
  .demo .col .card-lg{
    display: flex;
    aspect-ratio: 3/1.45;
  }
  .demo .col .card-lg img{
    width: 87%;
  }
  .demo .col .card-sm{
    aspect-ratio: 1/1;
  }
  .demo .col:nth-child(2) .card-sm{
    aspect-ratio: 1/1;
  }
  /* /DEMO */

  /* STRATEGIC */
  .strategic .row{
    padding: 0 50px;
  }
  .strategic .row .col:last-child{
    padding: 0 70px;
  }

  .strategic .row .col{
    width: calc(100%/2);
    aspect-ratio: 1/1.5;
    /* padding: 20px 50px; */
  }

  .strategic .card-lg.planning h2{
    margin: 5px 0 40px;
  }
  .strategic .card-lg.developement img{
    padding: 10px 50px;
  }

  .strategic .row .col .developement{
    margin-top: 160px;
  }
  .strategic .developement .arrow{
    margin: 0 auto 5px;
  }
  /* /STRATEGIC */
}